    
body{
        margin: 0 auto;
        font-family: "Lucida Grande", "Times New Roman", sans-serif;
        color: #333;
        background: #FFF;
    }

#header-logo {
    width: 25%;
    height: auto;
}